.BannerMessage
{
	background: #C7DD3E;
	clear: both;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	position: absolute !important;
	font-size: large;
	font-style: oblique;
}
BODY
{
	/* The height needs to be set to a fixed value for the effect to work.
 * 	 * 	 * 	 * 	 * 	 *    * 100vh is the full height of the viewport. */
	height: 100vh;
	/* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
	overflow-x: hidden;
	/* Enable scrolling on the page. *
	overflow-y: auto;
	/* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
	perspective: 2px;
	font-family: 'Righteous', cursive;
	background:#000 !important;
	overflow:  hidden;
}
HEADER
{
	position: relative;
	padding: 0.5em 0;
}
HEADER H1
{
	color: black;
	font-family: 'Pacifico', cursive;
}
.blackHorizon{
	background:black;
	height:3vw;
	width:100%;
}
#title
{
	position: relative;
	text-align: center;
}
.title_Text{
	position: relative;
	display:inline-block;
	color:black;
	text-shadow: 2px 3px 5px;
	white-space: nowrap;
}
#title_DJD{
	font-family: 'Pacifico', cursive;
}
#title_DotIO{
	font-family: 'Righteous', cursive;
}
#title_Cursor{
	font-family: 'Righteous', cursive;
}
.typingText{
    text-align:left;
    margin-top:25px;
}
.headerLinks {
    font-size:25px;
    color:black !important;
    padding:3px;
    margin:5px;
		text-shadow: 2px 3px 5px;
}
MAIN
{
	width: 100%;
	margin-bottom:25px;
}
ASIDE
{
	float: left;
	position: fixed;
	display: none;
	padding-bottom: 10px;
	padding-left: 100px;
	width: 100%;
	height: auto !important;
	left: 0px;
	opacity: 0;
	top: 0px !important;
	z-index: 100;
	background: #FFFFFF;
	opacity: 1;
	/*+box-shadow: 0 0;*/
	shadow: 0px 0px 0px;
	font-family: 'Righteous', cursive;
}
SECTION
{
	float: left;
	width: 500px;
}
@media screen and (min-width: 500px)
{
	.headerLinks
	{
		float: left;
		display: inline-block;
		margin: 0px 10px;
		text-align: center;
	}
}
FOOTER
{
	clear: both;
	width: 100%;
}
FOOTER P
{
	text-align: right;
	font-size: 80%;
	font-family: 'Righteous', cursive !important;
}
H1
{
	font-family: 'Pacifico', cursive !important;
	font-size: 150%;
	text-align: left;
	padding-top:35px !important;
}
H2
{
	font-family: 'Pacifico', cursive !important;
	font-size: 120%;
	margin: 0.5em 0;
}
H1, H2
{
	color: rgb(208, 133, 4);
	font-family: 'Pacifico', cursive;
}
P
{
	margin: 0.5em 0;
	padding: 0;
	font-family: 'Righteous', cursive;
}
UL
{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	font-family: 'Righteous', cursive;
}
LI
{
	padding-bottom: 0.5em;
	font-family: 'Righteous', cursive;
}
b,h3,th,td,p {
    font-family: 'Righteous', cursive;
		text-shadow: 0px 0px;
}
A
{
	color: #444 !important;
	font-weight: bold;
}
A:hover
{
	color: #000 !important;
}
LABEL
{
	width: 8em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.5em;
	text-align: right;
	float: left;
	clear: none;
	display: inline-block;
	position: relative;
	width: 20%;
	font-family: 'Pacifico', cursive;
}
TEXTAREA
{
	font-family: Arial, Helvetica, sans-serif;
	width: 25em;
	margin-bottom: 0.5em;
	font-family: 'Righteous', cursive;
}
BR
{
	clear: both;
}
TABLE
{
	border-collapse: collapse;
}
TD, TH
{
	margin: 0;
	padding: 0.25em;
}
IMG
{
	width: 100%;
}

INPUT
{
	padding-bottom: 1px;
	display: inline-block;
	position: relative;
	width: 60% !important;
	clear: right;
	font-family: 'Righteous', cursive;
}
SELECT
{
	padding-bottom: 1px;
	display: inline-block;
	position: relative;
	width: 60% !important;
	clear: right;
	font-family: 'Pacifico', cursive;
}
.alignInputs
{
	margin: 20px;
}
.button{
    background:#000;
    animation:1s all;
    color:#FFF !important;
    border-style:solid;
    padding:10px;
    border-width: 1px;
    border-radius:5px;
    font-family: 'Righteous', cursive;
    font-size: 20px
}
.button:hover{
    background:#FFF;
    color:#000 !important;
    border-style: solid;
    border-color:#000;
    border-width: 2px;
}
/*Animations*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuDownAni
{
	0%
	{
		top: -350px;
	}
	100%
	{
		top: 0px;
	}
}
/* Standard syntax */
@keyframes MenuDownAni
{
	0%
	{
		top: -380px;
	}
	100%
	{
		top: 0px;
	}
}
@-webkit-keyframes menuUpAni
{
	0%
	{
		top: 0px;
	}
	100%
	{
		top: -380px;
	}
}
/* Standard syntax */
@keyframes menuUpAni
{
	0%
	{
		top: 0px;
	}
	100%
	{
		top: -430px;
	}
}
/*MENU HIDE AND DROPDOWN*/
/* Safari 4.0 - 8.0 */
/* Standard syntax */
@-webkit-keyframes menuDownAni
{
	0%
	{
		top: -380px;
	}
	100%
	{
		top: 0px;
	}
}
@keyframes MenuDownAni
{
	0%
	{
		top: -380px;
	}
	100%
	{
		top: 0px;
	}
}
@-webkit-keyframes menuUpAni
{
	0%
	{
		top: 0px;
	}
	100%
	{
		top: -380px;
	}
}
/* Standard syntax */
@keyframes menuUpAni
{
	0%
	{
		top: 0px;
	}
	100%
	{
		top: -430px;
	}
}
/* the styles for the div tags that divide the page into sections */
#left_column
{
	float: left;
	width: 150px;
}
#right_column
{
	float: left;
	padding-left: 1em;
	padding-bottom: 0.5em;
	width: 330px;
}
#left_column P IMG
{
	text-align: center;
}
#right_column UL
{
	list-style-type: disc;
	padding-left: 2em;
	margin-top: 0.25em;
}
/*Shapey Divs*/
.rectangle{
    margin:0px 4.5%;
    background-color: #bbb;
    border-radius: 1vw;
    padding:5px;
    display: inline-block;
     box-shadow: 10px 10px 5px #aaaaaa;
}
.rectangle:hover{
     margin-top:-2px !important;
     box-shadow: 20px 20px 10px #999;

}

@media screen and (max-width:800px){
.rectangle{

    width: auto !important;
    margin-bottom: 20px;
}
    .rectangle p{
        font-size: 5vw !important;
    }
}
@media screen and (min-width:800px){
.rectangle{
    width:36.6vw !important;
}
}

/*Positioning Styles*/
.clearfix
{
	clear: both;
	width: 100%;
}
.alignVertically
{
	margin-top: 82%;
}
.vertical-center
{
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.center
{
	text-align: center;
	top: 40%;
	position: absolute;
}
/* styles for the classes */
.right
{
	text-align: right;
}
.left
{
	text-align: left;
}
.button_form
{
	margin: 0;
	padding: 0;
	float: left;
}
.inline
{
	display: inline;
	margin-left: 0.5em;
}
.nofloat
{
	float: none;
}
.error
{
	color: red;
}
.inviso-link:hover{
    text-decoration: none;
}
/*RSS Styles*/
.recentBlogsBox
{
	/*\*/
	width: 100%;
	text-align: center;
	align-content: center;
	height: 800px;
	overflow: hidden;
	background: #8DB0DE;
}
.displayBlogStub
{
	height: 700px;
	margin: auto;
	left: 35%;
	overflow: hidden;
	width: auto;
	background: #D3D0EF;
}
.displayBlogImg
{
	height: 100%;
	object-fit: cover;
}
.displayBlogList
{
	left: 26%;
	height: 700px;
	background: #6EC2E5;
	overflow: visible;
}
.blogPicker
{
	height: 31%;
	padding: 10px;
	object-fit: cover;
}
/*Add Blog*/
.components
{
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
}
.components IMG
{
	height: 20px !important;
}
/*General Blog Stuff*/
.blogPost{
    width:90%;
    margin-left:5%
}
.blogTxt
{
	text-align: left;
}
@media screen and (min-width: 990px)
{
.blogTxt , p{
    font-size: 1.5vw !important;
}

   /* .rectangle{
        width:50%;
    }*/
}
h2{
font-size:3vw !important;
font-weight:bold !important;
}
@media screen and (max-width: 990px)
{
.blogTxt , p{
    font-size: 5vw !important;
}
    .blogImg{
        width:100%!important;
    }
    .rectangle p{
        font-size: 2vw !important;
    }
  h2{
    font-size: 6vw  !important;
    font-weight:bold !important;
}
}
.blogImg{
        clear:none;
        position: relative !important;
        top:-10px;
        margin:0px 10px;
     }
.fb-share-button{
    left:75%;
    bottom:5px;
}
/* styles for the ids */

.menuClick
{
	display: none;
	text-align: left;
	right:7.5% !important;
  top:35px
}
.menuUp
{
	-webkit-animation: menuUpAni .6s linear forwards;
	display: block;
	/* Safari 4.0 - 8.0 */
	/* Safari 4.0 - 8.0 */
	animation: menuUpAni 0.6s linear forwards;
}
.menuDown
{
	-webkit-animation-name: menuDownAni;
	display: block;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s;
	/* Safari 4.0 - 8.0 */
	animation-name: menuDownAni;
	animation-duration: 1s;
}
.menuDown, .menuUp {
	margin-top:0.5%;
	margin-left: .5%;
	width:95%;
	border-radius:50px;
	background: transparent !important;
}
.menuClickStatic
{
	position: fixed;
	right: 25px;
	font-size: 25px;
}
#menuClick2
{
	-webkit-animation-name: hideMenu;
	z-index: 100;
	top: 25px;
	-webkit-animation-duration: 1s;
	animation-name: hideMenu;
	animation-duration: 1s;
	display: none;
}
#menuClick1
{
	-webkit-animation-name: showMenu;
	-webkit-animation-duration: .7s;
	animation-duration: 0.7s;
	z-index: 100;
}

#copyright
{
	margin: 1em 0;
}
/*PARALLAX*/
.wrapper
{
	/* The height needs to be set to a fixed value for the effect to work.
 * 	 * 	 * 	 * 	 * 	 *    * 100vh is the full height of the viewport. */
	height: 100vh;
	/* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
	overflow-x: hidden;
	/* Enable scrolling on the page. */
	overflow-y: auto;
	/* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
	perspective: 2.5px;
}
.section
{
	/* Needed for children to be absolutely positioned relative to the parent. */
	position: relative;
	/* The height of the container. Must be set, but it doesn't really matter what the value is. */
	height: auto;
	width: 100%;
	/* For text formatting. */
	display: block;
	clear: both;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: #1F4DF0;
	text-shadow: 0 0 5px #000;
	padding: 30px 50px;
}
.vH100
{
	/* The height of the container. Must be set, but it doesn't really matter what the value is. */
	height: 100vh;
}
.vH80
{
	/* The height of the container. Must be set, but it doesn't really matter what the value is. */
	height: 80vh;
}
.vH60
{
	/* The height of the container. Must be set, but it doesn't really matter what the value is. */
	height: 60vh;
}
.vH40
{
/* The height of the container. Must be set, but it doesn't really matter what the value is. */
height: 40vh;
}
.vH20
{
	/* The height of the container. Must be set, but it doesn't really matter what the value is. */
	height: 20vh;
}
.parallax::after
{
	/* Display and position the pseudo-element */
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* Move the pseudo-element back away from the camera,
 * 	 * 	 * 	 * 	 * 	 *    * then scale it back up to fill the viewport.
 * 	 	 * 	 	 * 	 	 * 	 	 * 	 	 *       * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
	transform: translateZ(-.75px) scale(1.5);
	/* Force the background image to fill the whole element. */
	background-size: 100%;
	/* Keep the image from overlapping sibling elements. */
	z-index: -1;
}
.parallax{
	margin-left:-5px;
}

/* The styling for the static div. */
.static
{
	background: #311855;
}
.bg1{
	color:#000;
}
.bg2{
	color:#000;
}
/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after
{
	/*height:75.5vh;*/
	background: url('https://images.pexels.com/photos/258149/pexels-photo-258149.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') bottom right / cover scroll content-box padding-box;
}
.bg2::after
{
	/*height:64.5vh;*/
	color:#000;
	background: url('https://images.pexels.com/photos/258149/pexels-photo-258149.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') center top / cover scroll;
}
.flip{
	-webkit-transform: scaleY(-1);
	 scaleY(-1);
}
/*Div Shapes*/
.angleDiv_left{
    -webkit-clip-path: polygon(100% 50%, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(5% 15%, 100% 0, 100% 96%, 0 100%);
}
.angleDiv_right{
    -webkit-clip-path: polygon(100% 0, 5% 15%, 0 100%, 100% 96%);
    clip-path: polygon(90% 10%, 0% 0%, 0 100%, 100% 96%);
}
/*Color Scheme */
.sky
{
 background: #FFF;
 color:#000
}
.ocean{
     background: #000 ;
     color:#FFF;
}
.sand
{
	background: #FDE1A9;
}
.tree
{
	background: #21452A;
}
.woods
{
	background: #32290D;
}
.ContentBox{
    position:relative;
}
input {
     border:2px;
    border-style: solid;
    border-radius:5px;
}
.rounded{
    border-radius:100vw;
}
.sectShadow {
     box-shadow: 0px 10px 20px black inset;
}
.sectShadowUpper {
     box-shadow: 0px 0px 20px black inset;
}

/*FIXED CONTENT*/

.RecentSidebar{
    position:fixed !important;
    z-index: 123;
    width:200px;
    clear:right;
    right:27px;
    bottom:10px ;
    height:73% !important;
    margin:5px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    margin: 0px;
    overflow-y:hidden;
		display:none
}
.RecentSidebar p , .RecentSidebar b{
    font-size: 12px !important;
}
.fixedLinks{
    position:fixed !important;
    bottom:9px;
    z-index: 1000;
    font-size:30px;
		color:#000!important;
}
#gitHub_1 .fa-github-square{
	right:110px;
}
#rss_1 .fa-rss-square {
    right:70px;
}
#facebook_1 .fa-facebook-square {
      right:30px
}
#gitHub_2 .fa-github-square{
	right:320px;
}
#rss_2 .fa-rss-square {
    right:280px;

}
#facebook_2 .fa-facebook-square {
    right:240px;
}
